
<div th:fragment="top_menu" class="w3-block w3-grey" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="w3-dropdown-hover">
        <button class="w3-button">Operation</button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="to_add_order" class="w3-bar-item w3-button">Add order</a>
            <a href="to_clear_order" class="w3-bar-item w3-button">Clear order</a>
        </div>
    </div>
    <div class="w3-dropdown-hover">
        <button class="w3-button">Show</button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="listProducts" class="w3-bar-item w3-button">All</a>
        </div>
    </div>
    <a href="choice_year_to_report" class="w3-button w3-pink">Reports forming</a>
    <a href="main" class="w3-button w3-black w3-right">Main menu</a>
</div>